################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Instruments/.vs/Instruments/v15
/Instruments/Instruments.DynamicQueries/bin/Debug/netstandard2.0
/Instruments/Instruments.DynamicQueries/obj
